.ListingSummary {
    background-color: #f4f4f4;
    text-align: left;
    padding: 25px;
    font-family: Roboto;
    margin: 10px 0px;
    border: solid 1px #A6A6A6;
}

.ListingSummary-Summary {
    padding: 15px 0;
}

.ImageCarousel-image {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
