.ListingDetailsList{
    width: 40%;
    padding: 1rem 0;
    margin-right: 10%;
}
.ListingDetailsList-Value{
    margin-top: 1px;
}


.ListingDetailsList-Multiple {
    padding-right: 9em;
    width: 100%;
    padding: 0.5rem 0;
    
}

.ListingDetailsList-Name.ListingDetailsList-Name-Multple{
    font-weight: bold;
}

.ListingDetailsList-Container-Multiple{
    display: flex;
    flex-wrap: wrap;
}
.ListingDetailsList-value{
    flex-grow: 1;
    margin-top: 0px; 
}
.ListingDetailsList-Value-Multiple{
    flex-grow: 1;
    padding-left: 1rem ;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 25%;
    
}

@media(max-width: 768px){
    .ListingDetailsList-Container-Multiple{
        flex-direction: column;
    }
    .RoomsDetails-Name{
        padding-bottom: 2rem;
    }
    .ListingDetailsList-value{
        width: 100%; 
    }
    .ListingDetailsList-Value-Multiple{
        width: 100%;
    }

}